*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styles for individual satellite list items within the '.satellites-container' */
.satellites-container li{
    list-style-type: none;
    border: 1px solid;
    margin-top: 10px;
    padding: 10px;
    left: 50%;
    cursor: pointer;
    width: 50%;
    margin-left: 22%;
}

/* Hide the satellite data by default */
.satellite-data{
    display: none;
}