*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h1{
    text-align: center;
}
body{
    background-color: #ccc;
}
/* Styles for individual satellite list items within the '.satellites-container' */
.satellites-container li, .satellite-data{
    list-style-type: none;
    border: 1px solid;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    width: 75%;
}

/* Hide the satellite data by default */
.satellite-data{
    display: none;
}